body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 800px;
  margin: 0 auto;
}

td, th {
  border: solid 1px #ccc;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: rgb(237, 249, 249);
}

td:nth-child(n + 3),
th:nth-child(n + 3) {
  text-align: center;
}

tbody tr:hover {
  background-color: rgb(160, 260, 225) !important;
}

caption {
  background-color: white;
  color: black;
  height: 20px;
  position: sticky;
  top: 0;
}

thead {
  background-color: black;
  color: white;
  position: sticky;
  top: 20px;
}
